# IDE related
.vscode/
.idea/
.DS_Store
metrics/.DS_Store

# compilator stuff / binaries
*.so
*.dll
*.o
*.d
*.obj
*.exp
*.lib
*.bc
*.i
*.s
CSP
*.dSYM/
generate_input

# python stuff
__pycache__/
*/.ipynb_checkpoints/*
metrics/plots/.ipynb_checkpoints/*

# backups and more
old_py_replace/
old_src/
old/
__backup/*

# test data
tests/answers/*
tests/input_files/*

# metrics related
metrics/temp/
metrics/.ipynb_checkpoints/
metrics/TEMP*
metrics/_*
