.vscode/
.idea/
*.so
*.dll
*.o
*.d
*.obj
*.exp
*.lib
__pycache__/
old_py_replace/
old_src/
old/
*.bc
*.i
*.s
CSP
tests/answers/*
tests/input_files/*
*.dSYM/
__backup/*
metrics/temp/
metrics/.ipynb_checkpoints/
.DS_Store
metrics/.DS_Store
generate_input
