.vscode/
.idea/
*.so
*.dll
*.o
*.d
*.obj
*.exp
*.lib
__pycache__/
old_py_replace/
old_src/
*.bc
*.i
*.s
CSP
tests/answers/*
tests/input_files/*
CSP.dSYM/
__backup/*
metrics/temp/
metrics/.ipynb_checkpoints/
